
nav{
    transition: 0.4s;
    overflow: hidden;
    z-index: 100;
}

img { 
    image-rendering: optimizeSpeed;             /*                     */
    image-rendering: -moz-crisp-edges;          /* Firefox             */
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    image-rendering: optimize-contrast;         /* CSS3 Proposed       */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }

html,body{
    height:100%;
    display: flex;
    flex-direction: column;
    margin:0;
    padding:0;
}

.img-attribute{
    color: black;
    font-size: xx-small;
    position: absolute;
    top:100%;
    left:0;
}

.navbar-collapse{
    width:100%;
    text-align: center;
}

.homepage-image{
    position: relative;
}

.jumbotron{
    display:flex;
    flex-grow: 1;
    box-sizing: border-box;
}

.navbar-adjustment{
    padding-top:95px;
}


.container-image {
    height: 100%;
    width:auto;
    position: fixed;
    padding: 0;
    right: 0;
    top: 0;
}

.p-content{
    text-align: justify;
    font-weight: lighter;
    margin:0;
    font-size: 18px;
}

.company-num{
    font-size: x-small;
}

@media(max-width:767.98px){
    .navbar-nav{
        margin:0;
    }
    .homepage-image{
        height:40%;
    }
}
@media(min-width:768px){
    
    .navbar-nav{
        margin-left: auto;
        margin-right: 3rem; 
    }

    .homepage-image{
        height:50%;
    }
}
@media(min-width:992px){

    .homepage-image{
        height:50%;
    }
}
@media(min-width:1200px){

    .homepage-image{
        height:70%;
    }
}
