
nav{
    transition: 0.4s;
    overflow: hidden;
    z-index: 100;
}

html,body{
    height:100%;
    margin:0;
    padding:0;
}

.full-height{
    height:100%;
    display:flex;
    flex-direction: column;
}

.jumbotron{
    display:flex;
    flex-grow: 1;
    box-sizing: border-box;
}

.navbar-adjustment{
    padding-top:108px;
}

.container-image {
    height: 100%;
    width:auto;
    position: fixed;
    padding: 0;
    right: 0;
    top: 0;
}

.p-content{
    text-align: justify;
    font-weight: lighter;
    margin:0;
}
