nav{
    transition: 0.4s;
    overflow: hidden;
    z-index: 100;
    top: 0;
}

html,body{
    height:100%;
}

.full-height{
    height:100%;
    display:flex;
    flex-direction: column;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container-image {
    height: 100%;
    width:auto;
    position: absolute;
    padding: 0;
    right: 0;
    top: 0;
}

.p-content{
    text-align: justify;
    font-weight: lighter;
}
