
nav{
    transition: 0.4s;
    overflow: hidden;
    z-index: 100;
}

html,body{
    display:flex;
    flex-direction: column;
    height:100%;
    margin:0;
    padding:0;
}

.ie-fixMinHeight {
    display:flex;
    flex-direction:column;
}

.content {
    min-height: 100vh;
    height:200px;
    width:100%;
    display:flex;
    flex-direction:column;
}


.img-attribute{
    color: black;
    font-size: 10px;
    font-weight: lighter;
    position: absolute;
    padding-left:15px;
    top:100%;
    left:0;
}

.img-attribute > a{
    color:black;
}

.navbar-collapse{
    width:100%;
    text-align: center;
}

.relative{
    position: relative !important;
}

.jumbotron{
    flex-grow: 1;
    box-sizing: border-box;
}

.p-content{
    text-align: justify;
    font-weight: lighter;
    margin:0;
    font-size: 18px;
}

.list-content{
    font-weight: lighter;
    font-size:18px;
    list-style: none;
}
  
.list-content > li::before {
    content: "\2022";
    color: black;
    font-weight: 400;
    font-size: 18px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

.creator{
    margin:0;
    font-size: 10px;
    font-weight: lighter;
}

.footer{
    text-align: justify;
    font-weight: lighter;
    margin:0;
    font-size: 18px;
}


@media(max-width:350px){

    .navbar{
        padding-left:0 !important;
        padding-right:0 !important;
    }

    .navbar-brand{
        margin-left:0 !important;
    }

}

@media(max-width:767.98px){

    .navbar-adjustment{
        padding-top:105px;
    }

    .navbar-nav{
        margin: 0;
    }

    
    .homepage-image{
        height:200px;
        min-height:40vh !important;
    }
}

@media(max-width:575.98px){

    .col-12{
        text-align: center !important;
    }

    .creator{
        display:none;
    }

}

@media(min-width:768px){

    .navbar-nav{
        margin-left: auto;
        margin-right: 3rem; 
    }

    .navbar-adjustment{
        padding-top:95px;
    }
    
    .homepage-image{
        height:200px;
        min-height: 40vh !important;
    }
}
@media(min-width:992px){

    .homepage-image{
        height:200px;
        min-height:50vh !important;
    }
}

@media (min-width: 1200px) {

    .homepage-image{
        height:200px;
        min-height:60vh !important;
    }
}

